:root {
    --white_bg: bisque;
    --border_bg: rgb(114, 115, 124);
    --hover_bg: #1e9bff;
    --search_bg: rgb(178, 178, 196);
}

html {
    background-image: url("images/movie_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: -2;
    margin: 0px;
    color: white;
}

html::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.movie_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    column-gap: 15px;
}

.center_movie_details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.element {
    background-color: black;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid var(--hover_bg);
    border-radius: 10px;
}

.genre_element {
    margin-right: 15px;
}

#movie_title {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    margin: 0;
}

.movie_genres {
    font-size: 1.5rem;
}

.genres_list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0px;
}

#backdrop_img {
    margin-left: 15px;
    width: 102%;
    border-radius: 50px;
    box-shadow: 0 0 50px;
}

.grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.details_and_poster {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
}

#movie_overview {
    margin: 20px;
    margin-top: 40px;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    margin-left: 17%;
    margin-right: 17%;
}

.production_list {
    display: flex;
    flex-direction: column;
}

.additional_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.side_element {
    background-color: black;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid var(--hover_bg);
    border-radius: 10px;
    font-size: 1.3rem;
    margin: 3px;
    min-width: 150px;
    text-align: center;
    padding: 15px;
}

.side_details, .production_companies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prod_title {
    font-size: 2rem; 
    margin-left: 16%; 
    margin-bottom: 5px;
}

@media(min-width: 2000px) {
    .details_and_poster {
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media(max-width:1200px) {
    .details_and_poster {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    #backdrop_img {
        max-width: 90%;
    }

    .genres_list {
        justify-content: center;
    }

    .movie_genres {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    #movie_overview {
        margin-left: 5%;
        margin-right: 5%;
    }
    #prod_title {
        margin-left: 3%;
    }
}

@media(max-width:700px) {
    #prod_title {
        max-width: 50%;
    }

    .genre_element {
        margin-bottom: 0px;
    }
}